<div class="jumbotron center">
	<h1>Pinteresting</h1>
	<p>Where all your hopes and dreams CAN come true!</p>
	<p>Click here to <%= link_to "Sign Up","http://google.com", class: "btn btn-primary btn-lg"%></p>
</div>
